<tr>
  <td><%= test_blog.title %></td>
  <td><%= test_blog.body %></td>
  <td><%= distance_of_time_in_words test_blog.created_at, Time.now %></td>
  <td><%= link_to 'Show', test_blog %></td>
  <td><%= link_to 'Edit', edit_test_blog_path(test_blog) %></td>
  <td><%= link_to 'Destroy', test_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>