<h1>Test Blogs</h1>

<p><%= "There are no posts created yet" unless @posts.count>0 %></p>

<%= link_to "Create New Post", new_post_path %>

<% @posts.each do |post| %>
  <h3><%= link_to "#{post.title}", post %></h3>
  <p><%= post.content %></p>
  <%= link_to 'Edit', edit_post_path(post.id) %>
  <%= link_to 'Delete', post, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>