<!DOCTYPE html>
<html>
  <head>
    <title>NewProj | <%= @page_title || "MyPage" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seo_keywords || "" %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= auth_bar_helper %>
    <%= yield %>
    <p><%= "I suppose you visited me from" + session[:source] if session[:source] %></p>
  </body>
</html>
